<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img width="25px" src="../../assets/icon/training.png" alt="training">
      <ion-label>Trainings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img width="25px" src="../../assets/icon/exercise.png" alt="exercise">
      <ion-label>Exercises</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img width="25px" src="../../assets/icon/house.png" alt="Dashboard">
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <img width="25px" src="../../assets/icon/team.png" alt="Clients">
      <ion-label>Clients</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <img width="25px" src="../../assets/icon/profile.png" alt="Profile">
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>