<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Trainings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trainings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="card-background-page">

    <ion-card [routerLink]="['training']" *ngFor="let training of trainings">
      <img src="../../assets/images/female-exercising.jpg" />
      <div class="card-title">{{training.name}}</div>
      <div class="card-subtitle">{{training.plan}}</div>
    </ion-card>

  </ion-content>

</ion-content>