<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon (click)="back()" style="position: absolute; top: 10px; left: 10; font-size: xx-large;"
      name="arrow-back-circle-sharp">
    </ion-icon>
    <ion-title class="ion-text-center">Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon (click)="back()" style="position: absolute; top: 10px; left: 10; font-size: xx-large;"
        name="arrow-back-circle-sharp">
      </ion-icon>
      <img style="width: 100%;" src="../../../../assets/images/female-exercising.jpg" alt="">
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="card-background-page">
    <!-- <ion-icon (click)="back()" style="position: absolute; top: 10px; left: 10; font-size: xx-large;"
      name="arrow-back-circle-sharp">
    </ion-icon> -->
    <img style="width: 100%;" src="../../../../assets/images/female-exercising.jpg" alt="">

    <ion-item *ngFor="let exer of exercises">
      <ion-thumbnail style="width: 100px;" slot="start">
        <img style="border-radius: 7%;" src="../../../../assets/images/female-exercising.jpg" alt="">
      </ion-thumbnail>
      <ion-label>
        <h2>{{exer.name}}</h2>
        <p>Button on right</p>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

  </ion-content>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block">Start Training</ion-button>
  </ion-toolbar>
</ion-footer>